<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <title>Modifica prova</title>
  <meta charset ="UTF-8" />
  <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<div class ="container">
  <h2>Edita prova</h2>
  <form action="#" th:action ="@{/prova/update}"
        th:object="${prova}" method ="post">
    <table>
      <tr>
        <td> <label>Nom</label> </td>
        <td> <input type="text" readonly="readonly" th:field="*{nom}" /> </td>
      </tr>
      <tr>
        <td> <label>Descripció</label> </td>
        <td> <input type="text" th:field ="*{descripcio}" /> </td>
        <td th:if="${#fields.hasErrors('descripcio')}" th:errors="*{descripcio}"></td>
      </tr>
      <tr>
        <td> <label>Tipus</label> </td>
        <td> <span th:each ="tip: ${typeList}">
                       <input type ="radio" th:field ="*{tipus}" th:value ="${tip}" />
                       <label th:for="${#ids.prev('tipus')}" th:text ="${tip}" />
                    </span>
        </td>
        <td th:if="${#fields.hasErrors('tipus')}" th:errors="*{tipus}"></td>
      </tr>
      <tr>
        <td> <label>Date</label> </td>
        <td> <input type ="text" th:field ="*{data}"/> </td>
        <td th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></td>
      </tr>
      <tr>
        <td colspan ="2"> <input type ="submit" value ="Modifica Prova"/> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>