<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualitza un classificacio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Actualitza classificacio</h2>
<form action="#" th:action="@{/classificacio/update}"
      th:object="${classificacio}" method="post">
    <table>
        <tr>
            <td><label>Posicio</label></td>
            <td><input type="text" th:field="*{posicio}" /></td>
        </tr>
        <tr>
            <td><label>temps</label></td>
            <td><input type="time" th:field="*{temps}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Actualitza la classificacio" /></td>
        </tr>
    </table>
</form>
</body>
</html>